
.navbar {
  background-color: #6f42c1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
   max-width: 1800px;
   margin: auto;

   @media screen and (max-width: 1200px) {
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
   }
}

.navbar-text {
  a {
    color: #26875e;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  //color: var(--bs-nav-link-color);
  //  &:hover {
   // color: var(--bs-navbar-hover-color);
  //}
}

#navbar-icons {
  font-size: 1.25em;
}

#navbar-brand {
  font-size: larger;
}