.navbar {
  background-color: #6f42c1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-text > a {
    color: var(--bs-nav-link-color);
  &:hover {
    color: var(--bs-navbar-hover-color);
  }
}

#navbar-icons {
    font-size: 1.25em;
}